@{
    ViewBag.Title = "Index";
}

@section Scripts{
    <script>
        alert("hey there")
    </script>

}


<h1>User posts</h1>

<a href="@Url.RouteUrl("login")">Click here</a> to Login!

@Html.RouteLink("Click here", "login") to login!



